<div class="vlist">
	<div>
		<div class="dataWrapper"
			>
		</div>
		<div class="box panel panel-default">
			<img src="{{thumbnail}}">					
			<div class="overlay">
				View Collection >
			</div>
		</div>		
	</div>
	<div class="list-info">	  
      	<div class="titleD">{{name}}</div>              
      	<div class="row">        	
          <div class="user col-md-6">By {{current_user.email}}</div>
          <div class="register_date col-md-6">/ 2011-10-18</div>          
        </div>
        <div class="row">        	
	        <!-- <div class="numvideos"><span class="numvalue">16</span> Videos</div>	         -->
        </div>        
    </div>      

    <hr class="line"></hr>
</div>