<%= form_tag("/videos/filters_test", name: 'filters') do %>
<div id="left-menu">
	<input id="page" name="page" value=1 type="hidden">
	<input id="ipSort" name="sort" value="youtube_views" type="hidden">
    <input id="ipSearchHd" name="search" type="hidden">
	
	<div class="menu_item row">		
		<div class="row">
			<div class="col-md-8">Artist</div>
		</div>
		<div class="row">
			<div class="dropdown col-md-4">
	            <button class="btn btn-default dropdown-toggle" type="button" id="ddArtist" data-toggle="dropdown" aria-expanded="true"><span class="selection col-md-11">All</span> <span class="caret"></span></button>
	            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Girl's Generation</a></li>
	              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Psy</a></li>              
	            </ul>
	        </div>		
	    </div>
	</div>		

	<!-- <div class="menu_item row">
		<div class="row">
			<div class="col-md-8">Number of Singers</div><div class="strVar">3 - 5</div>
		</div>
		<input name="interval-slider" type="text" class="inter_slider" value="" data-slider-id="ipNumSingers" data-slider-min="1" data-slider-max="7" data-slider-step="1" data-slider-value="[1,7]"/>
	</div> -->

	<div class="menu_item row">
		<div class="row">
			<div class="col-md-8">Video Type</div>
		</div>
		<div class="row">
            <input id="ipVType" name="category" value="all" type="hidden">
			<div class="dropdown col-md-4">
	            <button class="btn btn-default dropdown-toggle" type="button" id="ddVideoType" data-toggle="dropdown" aria-expanded="true"><span class="selection col-md-11">All</span> <span class="caret"></span></button>
	            <ul id="ddVType" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation"><a role="menuitem" value="all" tabindex="-1" href="#">All</a></li>
	              	<li role="presentation"><a role="menuitem" value="teaser" tabindex="-1" href="#">Teaser</a></li>
	              	<li role="presentation"><a role="menuitem" value="dancepractice" tabindex="-1" href="#">Dance Practice</a></li>
	              	<li role="presentation"><a role="menuitem" value="making" tabindex="-1" href="#">Making Film</a></li>
                    <li role="presentation"><a role="menuitem" value="musicvideo" tabindex="-1" href="#">Music Videos</a></li>
                    <li role="presentation"><a role="menuitem" value="other" tabindex="-1" href="#">Other</a></li>
	            </ul>
	        </div>		
	    </div>
    </div>

    <div class="menu_item row">
    	<div>English Subtitle</div>
    	<input id="tcSubtitle" type="checkbox" class="toggle-checkbox" name="english_subtitle" data-size="small" data-on-color="info" checked>
    </div>

    <div class="menu_item row">
    	<div>Official Video</div>
    	<input id="tcOVideo" type="checkbox" class="toggle-checkbox" name="official" data-size="small" data-on-color="info" checked>
    </div>

    <!-- <div class="menu_item row">
    	<div>HD Video</div>
    	<input type="checkbox" name="toggle-checkbox" data-size="small" data-on-color="info" checked>
    </div> -->

    <div class="menu_item row">
    	<div>Licensed Content</div>
    	<input id="tcLContent" type="checkbox" class="toggle-checkbox" name="licensed_content" data-size="small" data-on-color="info" checked>
    </div>

    <div class="menu_item row">
    	<div class="row">
			<div class="col-md-8">Hotness</div><div class="strVar">0 - 10</div>
		</div>
    	<input id="ipHN" name="interval-slider" type="text" class="inter_slider" value="" data-slider-id="ipHN" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="[0,10]"/>
    	<input id="hnMin" name="hotness[min]" type="hidden" value="0">
    	<input id="hnMax" name="hotness[max]" type="hidden" value="10">
    </div>

    <div class="menu_item row">
    	<div class="row">
			<div class="col-md-8">Cheesiness</div><div class="strVar">0 - 10</div>
		</div>
    	<input id="ipCN" name="interval-slider" type="text" class="inter_slider" value="" data-slider-id="ipCN" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="[0,10]"/>
    	<input id="cnMin" name="cheesiness[min]" type="hidden" value="0">
    	<input id="cnMax" name="cheesiness[max]" type="hidden" value="10">
    </div>

    <div class="menu_item row">
    	<div class="row">
			<div class="col-md-8">English percentage</div><div class="strVar">0 - 100</div>
		</div>
    	<input id="ipEP" name="interval-slider" type="text" class="inter_slider" value="" data-slider-id="ipEP" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[0,100]"/>
    	<input id="epMin" name="english_percentage[min]" type="hidden" value="0">
    	<input id="epMax" name="english_percentage[max]" type="hidden" value="100">
    </div>

    <div class="menu_item row">
    	<div class="row">
			<div class="col-md-8">Approval Rating</div><div class="strVar">0 - 100</div>
		</div>
    	<input id="ipAR" name="interval-slider" type="text" class="inter_slider" value="" data-slider-id="ipAR" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[0,100]"/>
    	<input id="arMin" name="approval_rating[min]" type="hidden" value="0">
    	<input id="arMax" name="approval_rating[max]" type="hidden" value="100">
    </div>    

    <!-- <div class="menu_item row">
    	<div class="row">
			<div class="col-md-8">Year</div><div class="strVar">2000 - 2015</div>
		</div>
    	<input name="interval-slider" type="text" class="inter_slider" value="" data-slider-id="ipYears" data-slider-min="2000" data-slider-max="2015" data-slider-step="1" data-slider-value="[2000,2015]"/>
    </div>

    <div class="menu_item row">
    	<div class="row">
			<div class="col-md-8">Score</div><div class="strVar">0 - 100</div>
		</div>
    	<input name="interval-slider" type="text" class="inter_slider" value="" data-slider-id="ipScore" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[0,100]"/>
    </div> -->
</div>
<% end %>