<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body container-fluid">
          <div class="row">
            <div class="titleD">Log in</div>
            <%= image_tag "main/video_player/close.png", :class => "close", :data => {:dismiss=>"modal"} %></div>
          
        </div>
      </div>
    </div>
</div>

