<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body container-fluid">

        <div class="row">
          <h2>Log in</h2>
          <%= image_tag "main/video_player/close.png", :class => "close", :data => {:dismiss=>"modal"} %>
        </div>

        <!--
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "sign_in_user"}, :remote => :true, :format => :json) do |f| %> 
      -->
          <div class="field">
            <div class="title">Email</div>            
            <input id="ipEmail" type="text" class="form-control" autofocus> 
          </div>

          <div class="field">
            <div class="title">Password</div>            
            <input id="ipPassword" type="password" class="form-control">            
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">              
              <input id="cbRemember" type="checkbox" value="0">
              <span>Remember me</span>              
            </div>
          <% end -%>

          <div class="actions">
            <button id="btnLogin">Login</button>            
          </div>

        <!--
        <% end %>
        --> 
        <%= render "users/shared/links" %>       
      </div>
    </div>
  </div>
</div>