
<a href="https://www.youtube.com/embed/{{youtube_id}}" data-toggle="modal" data-target="#basicModal" class="hook--showmodal">
	<div class="box panel panel-default">
		<img src="{{thumbnail}}">		
		<div class="overlay">
			<div class="song_title">{{title_korean}}</div>			
		</div>
	</div>
</a>