
<a href="https://www.youtube.com/embed/<%= video.youtube_id %>" data-toggle="modal" data-target="#basicModal" class="hook--showmodal">
	<div class="box panel panel-default">
		<%= image_tag video.thumbnail %>
		<div class="overlay">
			<div class="song_title"><%= video.title_korean %></div>			
		</div>
	</div>
</a>