
<a href="https://www.youtube.com/embed/{{youtube_id}}" data-toggle="modal" data-target="#basicModal" class="hook--showmodal">
	<div class="dataWrapper"
		data-title="{{title_korean}}" data-youtube-userid="{{youtube_user_id}}" data-uploaded="{{upload_date}}" data-category="{{category}}"
		data-views="{{youtube_views}}" data-upvotes="{{upvotes}}" data-downvotes="{{downvotes}}"
		data-approval="{{approval_rating}}" data-hotness="{{hotness}}" data-cheese="{{cheesiness}}">
	</div>
	<div class="box panel panel-default">
		<img src="{{thumbnail}}">		
		<div class="titleKr">{{title_korean}}</div>
		<div class="overlay">
			<div class="song_title">{{title_korean}}</div>	
			<div class="buttons row">
				<%= image_tag "main/hover_like.png" %> <div class="btnlike col-md-4">Like</div>
				<%= image_tag "main/hover_add.png" %> <div class="btnAdd col-md-4">Add</div>
				<%= image_tag "main/hover_later.png" %> <div class="btnLater col-md-4">Later</div>
			</div>		
		</div>
	</div>
</a>