<div class="vlist">
	<a href="https://www.youtube.com/embed/{{youtube_id}}" data-toggle="modal" data-target="#basicModal" class="hook--showmodal">
		<div class="dataWrapper"
			data-title="{{title_korean}}" data-youtube-userid="{{youtube_user_id}}" data-uploaded="{{upload_date}}" data-category="{{category}}"
			data-views="{{youtube_views}}" data-upvotes="{{upvotes}}" data-downvotes="{{downvotes}}"
			data-approval="{{approval_rating}}" data-hotness="{{hotness}}" data-cheese="{{cheesiness}}">
		</div>
		<div class="box panel panel-default">
			<img src="{{thumbnail}}">					
			<div class="overlay">
				<div class="song_title">{{title_korean}}</div>			
				<div class="buttons row">
					<div class="btnLike">
						<%= image_tag "main/hover_like.png" %> Like
					</div>
					<div class="btnAdd">
						<%= image_tag "main/hover_add.png" %> Add
					</div>
					<div class="btnLater">
						<%= image_tag "main/hover_later.png" %> Later
					</div>
				</div>		
			</div>
		</div>		
	</a>
	<div class="list-info">	  
      	<div class="titleD">{{title_korean}}</div>              
      	<div class="row">        	
          <div class="youtube_user_id col-md-6">From {{youtube_user_id}}</div>
          <div class="category col-md-6">{{category}} / {{upload_date}}</div>          
        </div>
        <div class="row">        	
	        <div class="detailinfos"><span class="numvalue">{{youtube_views}}</span> Views / <span class="numvalue">{{upvotes}}</span> Likes / <span class="numvalue">{{downvotes}}</span> Dislikes / Approval Rating: {{approval_rating}}%</div>	        
        </div>
        <div class="row">
        	<div class="hotness col-md-5">Sexy Score <span class="boxwrapper">{{hotness}}</span></div>
        	<div class="cheesiness col-md-5">Cheesy Score <span class="boxwrapper">{{cheesiness}}</span></div>
        </div>
    </div>      
</div>