<div class="btn-group" role="group" aria-label="...">	
	<%= image_tag "main/view_2_p.png", :class => "btnView1" %>
	<%= image_tag "main/view_3_n.png", :class => "btnView2" %>
	<%= image_tag "main/view_list_n.png", :class => "btnView3" %>	
</div>
