<div class="btn-group" role="group" aria-label="...">	
	<button type="button" class="btnView1 btn btn-default" aria-label="view1">
	  <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
	</button>
	<button type="button" class="btnView2 btn btn-default" aria-label="view2">
	  <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
	</button>
	<button type="button" class="btnView3 btn btn-default" aria-label="view3">
	  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
	</button>	
</div>
