<div id="notice"></div>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar">
      <div class="top_bar row">
        <h2 class="titleFilter">KpopTV</h2>
        <hr></hr>
      </div>

      <%= render 'left_menu' %>
    </div>    

    <%= render 'video_dialog' %>

    <div id="main-content">
      <div class="top_bar row">        
          <h2 class="titleKpop">K-pop tv</h2>

          <!-- search box -->
          <div class="searchBox col-md-2">
            <div class="input-group">
              <input id="ipSearch" type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->            
          </div>

          <div class="dropdownP col-md-2">                
            <button class="btnProfile btn dropdown-toggle" type="button" id="btnSort" data-toggle="dropdown" aria-expanded="true"><span class="selection">Profile</span> <span class="caret"></span></button>
            <ul id="ddProfile" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">           
              <li role="presentation"><a role="menuitem" value="youtube_views" tabindex="-1" href="#">Profile</a></li>              
            </ul>          
          </div>   
        <hr></hr>
      </div>

      <div class="header_panel row">
        <div class="numResults col-md-5"></div>                
        <div class="dropdown col-md-2">                
            <button class="btnSort btn dropdown-toggle" type="button" id="btnSort" data-toggle="dropdown" aria-expanded="true"><span class="selection">SORT</span> <span class="caret"></span></button>
            <ul id="ddSort" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">              
              <li role="presentation"><a role="menuitem" value="youtube_views" tabindex="-1" href="#">Views</a></li>
              <li role="presentation"><a role="menuitem" value="upvotes" tabindex="-1" href="#">Upvote</a></li>             
              <li role="presentation"><a role="menuitem" value="upload_date" tabindex="-1" href="#">Recent</a></li> 
              <li role="presentation"><a role="menuitem" value="hotness" tabindex="-1" href="#">Hotness</a></li>
              <li role="presentation"><a role="menuitem" value="cheesiness" tabindex="-1" href="#">Cheesiness</a></li>
              <li role="presentation"><a role="menuitem" value="approval_rating" tabindex="-1" href="#">Approval Rating</a></li>
            </ul>          
        </div>                

        <%= render 'view_menu_box' %>
      </div>
      <div class="cardContainer">
        <div id="cards" class="cards transitions-enabled row">
          <div class="thumbnails">
          </div>

          <div id="infinite-scrolling">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render partial: "video_card_handlebar"%>