<%= form_tag("/videos/filters", name: 'filters') do %>

  <input id="page" name="page" value=1 type="hidden">

  <div class="filter">
    <input name="search" placeholder = "Search here..">
  </div>

  <div class="filter">
    Sort by
    <%= select_tag(:sort,
                   options_for_select(
                       [
                           ['Views', 'youtube_views'],
                           ['Upvote', 'upvotes'],
                           ['Recent', 'upload_date'],
                           ['Hotness', 'hotness'],
                           ['Cheesiness', 'cheesiness'],
                           ['Approval Rating', 'approval_rating']
                       ]))
    %>
  </div>

  <div class="filter"><span class='filter_title'>Hotness</span>
    <input type="number" name="hotness[min]" class="number_input" value=0> -
    <input type="number" name="hotness[max]" class="number_input" value=10>
  </div>

  <div class="filter"><span class='filter_title'>Cheesiness</span>
    <input type="number" name="cheesiness[min]" class="number_input" value=0> -
    <input type="number" name="cheesiness[max]" class="number_input" value=10>
  </div>

  <div class="filter"><span class='filter_title'>English percentage</span>
    <input type="number" name="english_percentage[min]" class="number_input" value=0> -
    <input type="number" name="english_percentage[max]" class="number_input" value=100>
  </div>

  <div class="filter"><span class='filter_title'>Approval Rating</span>
    <input type="number" name="approval_rating[min]" class="number_input" value=0> -
    <input type="number" name="approval_rating[max]" class="number_input" value=100>
  </div>

  <div class="filter">
    <input type="checkbox" name="english_subtitle"> English Subtitle<br>
    <input type="checkbox" name="official"> Official <br>
    <input type="checkbox" name="caption"> Caption <br>
    <input type="checkbox" name="licensed_content"> Licensed content
  </div>

  <div class="filter">

    Category:
    <%= select_tag(
            :category,
            options_for_select(
                [
                    ['All', 'all'],
                    ['Teaser', 'teaser'],
                    ['Dance Practice', 'dancepractice'],
                    ['Making Film', 'making'],
                    ['Music Videos', 'musicvideo'],
                    ['Other', 'other']
                ]
            )
        )
    %>

    <br>
    Dimension:
    <%= select_tag(:dimension,
                   options_for_select(
                       [
                           ['All', 'all'],
                           ['2D', '2D'],
                           ['3D', '3D']
                        ]
                   )
        )
    %>

    <br>
  </div>
<% end %>