<div id="notice"></div>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!--<h1>Filters</h1>-->

      <!--year-->
      <!--<div id="year" class="filter-slider"></div><br>-->


      <h1>Sorting</h1>
      <div class="upvoteasc"><button>Upvote(asc)</button></div>
      <div class="upvotedesc"><button>Upvote(desc)</button></div>
      <div class="youtubeasc"><button>Youtube_views(asc)</button></div>
      <div class="youtubedesc"><button>Youtube_views(desc)</button></div>
      <div class="uploadasc"><button>Upload_date(asc)</button></div>
      <div class="uploaddesc"><button>Upload_date(desc)</button></div>

      <hr>

      <%= render 'filter_form' %>

    </div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <div>
              <iframe id="iframe" width="800" height="600" src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-content" class="col-xs-9">
      <ul class="thumbnails">
        <% @videos.each do |video| %>
          <%= render 'each_video', :video => video %>
        <% end %>
      </ul>

    </div>
  </div>
</div>



<%= render partial: "each_video_handlebar"%>
