<div id="notice"></div>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!--<h1>Filters</h1>-->

      <!--year-->
      <!--<div id="year" class="filter-slider"></div><br>-->


      <h1>Sorting</h1>
      <button class="btn btn-default youtubedesc">Youtube Views DESC</button><br>
      <button class="btn btn-default youtubeasc">Youtube Views ASC</button><br>
      <button class="btn btn-default upvotedesc">Upvote DESC</button><br>
      <button class="btn btn-default upvoteasc">Upvote ASC</button><br>
      <button class="btn btn-default uploaddesc">Upload Date DESC</button><br>
      <button class="btn btn-default uploadasc">Upload Date ASC</button><br>
      <button class="btn btn-default ratingdesc">Rating DESC</button><br>
      <button class="btn btn-default ratingasc">Rating ASC</button><br>

      <hr>

      <%= render 'filter_form' %>

    </div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <div>
              <iframe id="iframe" width="800" height="600" src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-content" class="col-xs-9">
      <ul class="thumbnails">
        <% @videos.each do |video| %>
          <%= render 'each_video', :video => video %>
        <% end %>
      </ul>

    </div>
  </div>
</div>



<%= render partial: "each_video_handlebar"%>
