<div id="notice"></div>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <h1>Filters</h1>

      year
      <div id="year" class="filter-slider"></div>

    </div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <div>
              <iframe id="iframe" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-content" class="col-xs-9">
      <ul class="thumbnails">
        <% @videos.each do |video| %>
          <li class="each_thumbnail">
            <a href="https://www.youtube.com/embed/<%= video.youtube_id %>" data-toggle="modal" data-target="#basicModal" class="hook--showmodal">
            <div class="thumbnail_image">

              <%= image_tag video.thumbnail %>
            </div>

            <div class="thumbnail_title">
              <%= video.title_korean %>
            </div>
            <% if video.title_english %>
              <div class="thumbnail_title_eng">
                <%= video.title_english %>
              </div>
            </a>
            <% end %>

          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
 $(".hook--showmodal").on('click', function(){
  var url= $(this).attr("href")
    $("#iframe").attr('src', url);
     })

  $("#basicModal").on('hidden.bs.modal', function(){
    $("#iframe").attr('src', '');
  })
});
</script>

