<div id="notice"></div>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <%= render 'filter_form' %>
      <%= render 'users/user_widget' %>
    </div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <div>
              <iframe id="iframe" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-content" class="col-xs-9">
      <ul class="thumbnails">
        <% @videos.each do |video| %>
          <%= render 'each_video', :video => video %>
        <% end %>
      </ul>

    </div>
  </div>
</div>



<%= render partial: "each_video_handlebar"%>