// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'montserratregular';
	src: asset-url('montserratregular.woff');
}

button:focus {outline:0 !important;}

#main-container {
	font-family: 'montserratregular';
	background: rgb(48,64,79);	
}

#sidebar {
	position: absolute;
	left: 0;
	display: block;
	background: #31374c;
	width: 270px;
	height: 1000px;
	color: rgb(255,255,255);	
}

.menu_header {
	height: 60px;
	background: #3e445c;
	margin-top: 10px;
	padding-left: 47px;
	padding-top: 25px;
	font-size: 20px;	
}

.menu_header .row {
	line-height: 12px;
}

.menu_header .unfold {
	margin-top: -8px;
	width: 20px;
}

.menu_item {
	width: 100%;
	height: 25px;	
	margin: 20px;	
	padding-left: 10px;
	font-size: 16px;
	color: rgb(199,203,213);
}

.menu_item.drop-menu {
	height: 60px;	
}

.menu_item.drop-menu .dropdown {
	margin-top: 10px;
}

#sidebar .dropdown button{
	box-sizing: border-box;		
	width: 210px;	
	height: 35px;
	background-color: #252a3d;				
	color: rgb(255,255,255);
}


#sidebar .dropdown-menu {
	background-color: #3e445c;
	width: 200px;
  	margin-left: 18px;
  	z-index: 9000;
}

#sidebar .dropdown-menu a {
	color: rgb(255,255,255);
}

#sidebar .dropdown-menu a:hover {
	background: rgb(255,64,79);
}

#sidebar .menu_item.toggle-menu {
	height: 30px;
}

#sidebar .menu_item .menu_title {
	display: inline-block;
	margin-top: 20px;
}

//toggle button
#sidebar .bootstrap-switch-handle-on {
	background: rgb(253,153,126);
}

.flat-toggle {
	display: inline-block;
    width: 56px;
    border-radius: 10px;
    height: 22px;
    background: #252a3d;
    position: absolute;
    right: 28px;
    margin: 20px 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.flat-toggle:after {
    border-radius: 100%;
    background: rgb(230,234,248);
    position: absolute;
    left: 0;
    top: -1px;
    width: 22px;
    height: 22px;
    content: '';
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translateX(0);
     transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.flat-toggle:hover {
    cursor: pointer;
}

.flat-toggle.on {
    background: rgb(253,153,126);
    transform: translate3d(0,0,0);
}

.flat-toggle.on:after {
    background-color: rgb(230,234,248);
    -webkit-transform: translate(37px);
    -ms-transform: translate(37px);
    transform: translateX(37px);
}


//slider
#sidebar .menu_item.slider-menu {
	height: 50px;
}

#ipNumSingers .slider-selection {
	background: rgb(253,153,126);
}
#ipNumSingers .slider-handle {
	background: rgb(230,234,248);
}
#ipHN .slider-selection {
	background: rgb(253,153,126);
}
#ipHN .slider-handle {
	background: rgb(230,234,248);
}
#ipCN .slider-selection {
	background: rgb(253,153,126);
}
#ipCN .slider-handle {
	background: rgb(230,234,248);
}
#ipEP .slider-selection {
	background: rgb(253,153,126);
}
#ipEP .slider-handle {
	background: rgb(230,234,248);
}
#ipAR .slider-selection {
	background: rgb(253,153,126);
}
#ipAR .slider-handle {
	background: rgb(230,234,248);
}
#ipYears .slider-selection {
	background: rgb(253,153,126);
}
#ipYears .slider-handle {
	background: rgb(230,234,248);
}
#ipScore .slider-selection {
	background: rgb(253,153,126);
}
#ipScore .slider-handle {
	background: rgb(230,234,248);
}

.menu_item .strVar {
	font-size: 11px;
	color: rgb(101,107,124);
	margin-top: 12px;
}

#main-content {
	position: absolute;
	left: 270px;
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgb(255,255,255);
	padding-left: 40px;
}

.top_bar {	
	height: 60px;					
}

.top_bar .logo {
	width: 36px;
}

.top_bar .titleFilter {	
	font-size: 26px;
	font-weight: bold;
	margin-top: 15px;	
	color: rgb(255,171,145);
	padding-left: 30px;
	padding-bottom: 15px;
}

.top_bar .titleKpop {
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	color: rgb(48,64,79);
	margin-left: 30px;
}

.top_bar .searchBox {
	position: absolute;
	top: 20px;
	right: 430px;	
}

.top_bar .searchBox .glyphicon-search {
	position:absolute;
	top: 10px;
	left: 15px;
	z-index: 10;
}

.top_bar .searchBox #ipSearch {
	border-radius: 15px;	
	padding-left: 30px;
	font-size: 14px;
	background: #ededed;
	color: rgb(163,167,179);
}

.top_bar .dropdownP {
	position: absolute;
	top: 25px;
	right: 210px;	
}

.top_bar .dropdownP .imgProfile {
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.top_bar .dropdownP .login-widget {
	font-size: 16px;
	color: rgb(51,58,77);		
	margin-right: 15px;
}

.top_bar .dropdownP .login-widget:hover {
	background: rgb(255,255,255);
}

.top_bar hr {	
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


.header_panel {	
	width: 100%;
	height: 90px;			
}

.header_panel .numResults {
	font-size: 20px;
	color: rgb(51,58,77);	
	margin-left: 20px;
	line-height: 80px;
}

.header_panel .dropdown {
	margin-top: 20px;
}

.header_panel .dropdown .btnSort{	
	margin-right: 10px;	
	width: 200px;
	height: 40px;
	line-height: 15px;
	font-size: 14px;
	color: #a3a7b3;
	background-color: rgb(255,255,255);
}

.header_panel .dropdown .btnSort .selection {
	position: absolute;
	top: 13px;
	left: 30px;
}

.header_panel .dropdown .btnSort .caret {
	position: absolute;
	right: 30px;
}

.header_panel .dropdown .dropdown-menu {
	width: 200px;
	background-color: #3e445c;	
	border-radius: 3px;	
	margin-left: 15px;	
}

.header_panel .dropdown .dropdown-menu a {
	color: rgb(255,255,255);
	font-size: 14px;	
	height: 42px;
	line-height: 33px;	
}

.header_panel .dropdown .dropdown-menu a:hover {
	color: rgb(0,0,0);
} 

.header_panel .btn-group {
	margin-top: 12px;
	margin-left: 20px;
}

.header_panel .btn-group img {
	margin-top: 14px;
	margin-left: 15px;
	cursor: pointer;
}

.header_panel .btn-group img .focus {
	
}


.cardContainer {
	width: 80%;	
}

.cards {
	margin: 0 auto;
 	width: 100%;          
}

.box {
	display: inline-block;
	margin: 10px;
	width: 490px;
	height: 320px;	
	border: 1px solid rgba(230,230,230,1);
	border-radius: 5px;
	box-shadow: 0px 3px 0px 0px rgba(220,220,220,1);	
	text-align: center;
	margin-bottom: 25px;
	cursor: pointer;
}

.box:hover {
	border-color: rgba(205,205,205,1);
	box-shadow: 0px 3px 0px 0px rgba(205,205,205,1);
}

.box img {
	width: 100%;
	height: 270px;	
}

.box .titleKr {
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: rgb(101,107,124);	
	background: #ededed;
	line-height: 55px;
}

.box .overlay {
	display: none;	

	position: absolute;
	top: 0;
	width: 100%;
	height: 270px;
	background: rgba(51,58,77,0.7);
	border-radius: 5px;
}

.box .overlay .song_title {
	position: absolute;	
	top: 65px;
	left: 17px;
	padding: 10px;
	font-size: 22px;
	color: rgba(255,255,255,1);			
	white-space: normal;
}

.box .overlay .buttons {
	position: absolute;
	left: 15px;
	bottom: 2px;
	font-size: 18px;	
	color: rgb(255,255,255);
	width: 100%;
	height: 60px;
	background: rgba(51,58,77, 0.9);
}

.box .overlay .buttons img {
	width: 18px;
	height: 18px;
}

.box .overlay .buttons div {
	display: inline-block;
	width: 143px;
	line-height: 60px;
}


.vlist {
	display: inline-block;
	width: 1000px;
}

.vlist .box {
	height: 270px;
}

.vlist .box .overlay {
	width: 490px;
	height: 280px;
}

.vlist .list-info {
	display: inline-block;
	position: absolute;
  	top: 14px;  
  	margin-left: 30px;
  	width: 500px;

  	font-size: 16px;
  	color: rgb(163,167,179);
}

.vlist .list-info .titleD {	
	font-size: 20px;
	font-weight: bold;
	color: rgb(101,107,124);
}

.vlist .list-info .youtube_user_id {
	font-size: 16px;
	font-weight: bold;
	color: rgb(101,107,124);
}

.vlist .list-info .category {
	font-size: 16px;
	color: rgb(101,107,124);
}

.vlist .list-info .detailinfos {
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.vlist .list-info .boxwrapper {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: rgb(192,192,192);
	color: rgb(255,255,255);
}

/* video Modal */
#basicModal .modal-dialog {
	width: 900px;
}

#basicModal .modal-body {
	padding: 0px;
}

#basicModal .titleD {	
	margin: 20px;
	margin-left: 45px;
	font-size: 20px;
	font-weight: bold;
	color: rgb(101,107,124);
}

#basicModal .close {
	position: absolute;
	width: 28px;
	top: 20px;
	right: 20px;
	color: #656b7c;
	text-shadow: 0 1px 0 #fff;	
}

#basicModal .detail-infos {	
	margin: 15px;
	font-size: 14px;
	color: rgb(163,167,179);
}

#basicModal .detail-infos .imgview {
	width: 28px;
}

#basicModal .detail-infos .imglike {
	width: 22px;
}

#basicModal .detail-infos .imgdislike {
	width: 22px;
}

#basicModal .detail-infos .youtube_user_id {
	font-weight: bold;
	color: rgb(101,107,124);
}

#basicModal .detail-infos .category {
	color: rgb(101,107,124);
}

#basicModal .detail-infos .value {
	margin-left: 10px;
}

#basicModal .main-video {
	background: #31374c;
}

#basicModal .iframe {
	width: 100%;
	height: 500px;
}

#basicModal .footer-content {
	width: 100%;
	height: 80px;
	margin: 0px;
	padding-top: 5px;
	background: #31374c;
	font-size: 14px;
	color: rgb(163,167,179);
}

#basicModal #ipViewHN {
	margin-left: 10px;		
}
#basicModal #ipViewHN .slider-selection {
	background: rgb(253,153,126);
}
#basicModal #ipViewHN .slider-handle {
	background: rgb(230,234,248);
}

#basicModal #ipViewCN {
	margin-left: 10px;
}
#basicModal #ipViewCN .slider-selection {
	background: rgb(253,153,126);
}
#basicModal #ipViewCN .slider-handle {
	background: rgb(230,234,248);
}

#basicModal .footer-content .hotness {
	margin-top: 10px;
}

#basicModal .footer-content .cheesiness {
	margin-top: 10px;
}

#basicModal .footer-content .buttonBox {
	display: inline-block;	
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

#basicModal .footer-content .buttonBox button {
	width: 120px;
	height: 50px;
	color: rgb(255,255,255);
}

#basicModal .footer-content .buttonBox .btnLike {
	background: rgb(253,153,126);
	cursor: pointer;
}

#basicModal .footer-content .buttonBox .btnAdd {
	background: rgb(184,184,184); 
	cursor: pointer;
}