// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.video {
  width: 560px;
  height: 315px;
  display: block;
  margin: 20px auto;
}

.video_small {
  width: 280px;
  height: 157px;
  display: inline-block;
  margin: 20px;
}

.filter-slider {
  width: 200px;

}
ul.thumbnails {
  list-style-type: none;
  li {
    width: 440px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;

    .thumbnail_image {
      width: 400px;
      height: 220px;
      overflow: hidden;
    }
    .thumbnail_title_eng {
      color: #aaaaaa;
    }
    img {
      position: relative;
      width: 400px;
      top: -40px
    }

  }

}

//#myModal4 .modal-dialog  {
//  width:75%;
//}
/***** MODAL PROPERTIES *****/
.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  background:transparent;
  border:none;
  outline:none;
}
.modal-content iframe {
  border:none;
  padding:0;
  margin:0;
}
.close {
  font-size: 80px;
  margin:-20px 0 0 0;
}
/***** MEDIA QUERIES *****/
@media only screen and (max-width: 641px) {
  /***** MODAL PROPERTIES *****/
  .modal-body {
    height:100px;
    padding:0;
    margin: 0;
  }
  .modal-content {
    padding:0;
    margin: 0;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 15px;
  }
  .close {
    margin:-12px 0 0 0;
  }
}
@media only screen and (min-width: 768px) {
  /***** MODAL PROPERTIES *****/
  .close {
    font-size: 80px;
    margin:30px -43px -20px 100px;
  }
}